.container251{
    position: relative;
    display: flex;
    width:100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.subcontainer{
    position: relative;
    display: flex;
    flex-direction: column;

    margin: .5rem;
    background-color: var(--prm1);
    border-radius: 1rem;
    width:90%;
    max-width: 25rem;
    height: 90%;
    max-height: 17rem;

    /* overflow-x: hidden; */
}

.title{
    display: flex;
    width: 100%;
    height: 3rem;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.title > *{
    /* width: fit-content; */
    text-align: center;
    
    font-size: 1.2rem;
    font-weight: 700;
}
.content{
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: calc(100% - 3.5rem);
    align-items: center;
    overflow-y: auto;
    overflow-x: hidden;
}
.content > *{
    text-align: center;
    margin: .25rem;

    font-size: 1rem;
}
.editText{
    border: none;
    outline: none;
    resize: none;
    /* color: var(--prm2); */
    background-color: rgba(0, 0, 0, 0);
}

.decorate{
    position: absolute;
    width:90%;
    max-width: 25rem;
    height: 90%;
    max-height: 17rem;
    border-radius: 1rem;
    background-color: var(--prm3);
    transform:  translateX(3px)
                translateY(4px);
}

.slide{
    position: absolute;
    width: 3rem;
    height: 100%;
    background-color: var(--prm2);
    color: var(--prm1);
    cursor: pointer;
    opacity: 0;
    transition: ease .5s;
}
.left{
    background: linear-gradient(to left, rgba(255, 255, 255, 0), var(--prm2));
    left: 0;
}
.right{
    background: linear-gradient(to right, rgba(255, 255, 255, 0), var(--prm2));
    right: 0;
}
.slide:hover{
    opacity: .6;
}

.editMode{
    position: absolute;
    top: -1.8rem;
    
    width: 100%;
    height: 1.5rem;
    display: flex;
    justify-content: space-around;
}
.btn{
    position: relative;
    background-color: var(--prm1);
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
}

.textC5{
    color: var(--prm5);
}
.textC4{
    color: var(--prm4);
}
.textC3{
    color: var(--prm3);
}