.container{
    background-color: #dbdbdb;
    display: flex;
    position: relative;
    border: 1px solid rgba(177, 177, 177, 0.512);
    min-height: 100vh;
    min-width: 100vw;
    flex-direction: column;

    display: flex;
    align-items: center;
    /* justify-content: center; */
}

.subcontainer{
    position: relative;
    top: 7vh;
    width: 80%;
    height: 70vh;
    border: solid 2px white;
    /* border-radius: 2rem; */
    overflow: hidden;
}

.ttl{
    position: relative;
    /* background-color: blue; */
    font-size: 2.5rem;
    text-align: center;
    height: 3rem;
}
