<div class="container">
    <div class="cont1" *ngIf="conditional1">
        <h2 class="ttl" (click)="loginStatus()">Sign In</h2>
        <!-- <p>{{(login$ | async)}}</p> -->
        <!-- <h2 class="ttl" *ngIf="!conditional1">Sign Up</h2> -->
        <form class="cont2" #log="ngForm" (ngSubmit)="login(log)">
            <p class="error" *ngIf="errorEmailOrPassword">Invalid email or password</p>
            <p class="error" *ngIf="invalidShield">Invalid shield</p>
            <input class="unit1" type="text" name="email"      placeholder="Email"    [(ngModel)]="usrn1">
            <input class="unit1" type="text" name="password"   placeholder="Password"  [(ngModel)]="ctr1"  >
            <div class="subOne">
                <a class="sub1" href="/login">Forgot?</a>
                <a class="sub1" href="">Change</a>
            </div>
            <!-- <input class="unit1" type="button" [value]=sign2> -->
            <button class="unit1" type="submit">SIGN IN</button>
            <div class="subOne">
                <a class="sub1 two" (click)="signUpIn()">Don't have an account yet?</a>
            </div>
        </form>

        <!-- <p style="position: absolute; top: 0; color: white;" *ngIf="errorEmailOrPassword">*</p> -->
    </div>

    <div class="one" *ngIf="!conditional1">
        <div class="cont1" >
            <h2 class="ttl">Sign Up</h2>
            <!-- <h2 class="ttl" *ngIf="!conditional1">Sign Up</h2> -->
            <form class="cont2" #regis="ngForm" (ngSubmit)="register(regis)">
                <input class="unit1" type="text" name="username"   placeholder="Username"  [(ngModel)]="usrn1" >
                <input class="unit1" type="text" name="email"      placeholder="Email"     [(ngModel)]="eml1"  >
                <input class="unit1" type="text" name="password"   placeholder="Password"  [(ngModel)]="ctr1"  >
                <!-- <input class="unit1" type="button" [value]=sign2> -->
                <button class="unit1" type="submit">SIGN UP</button>
                <div class="subOne">
                    <a class="sub1 two" (click)="signUpIn()">Already have an account?</a>
                </div>
            </form>
        </div>
    </div>

</div>
