<div class="container221">
    <div class="flanges">
        <div class="tab {{i}}" *ngFor="let task of (user$|async)!.headlines[sharingSv.headlineIndex].tasks , let i = index" (click)="changeTaskI(i)" [ngStyle]="{'opacity': taskIndex == i ? 1 : .7}">
            <span class="title" (blur)="updateUser()">{{(task.title)}}</span>
            <div class="pop" (click)="delTask(i)"></div>
        </div>
    </div>
    <div class="content">
        <input class="titleEdit" [(ngModel)]="tasks[taskIndex].title" (blur)="updateUser(true)">
        <textarea class="note" [(ngModel)]="tasks[taskIndex].content" (blur)="updateUser(true)"></textarea>
    </div>
    <div class="add" (click)="addTask()"><p>+</p></div>
</div>