
<div class="container2 {{displayN}}">                                                               <!-- acá debería ser por binding el display -->
    <div class="chart c-one     {{displayM[0]}} {{display[0]}}">
        <app-list-items></app-list-items>
        <!-- <app-list-items  [headlines]="headlines" ></app-list-items> -->
    </div>
    <div class="chart c-two     {{displayM[1]}} {{display[1]}}">
        <app-notes></app-notes>
        <!-- <app-notes  [headlines]="headlines" ></app-notes> -->
    </div>
    <div class="chart c-three   {{displayM[2]}} {{display[2]}}"></div>
    <div class="chart c-four    {{displayM[3]}} {{display[3]}}"></div>
    <!-- <app-clock class="clock     "></app-clock> -->
    <div class="control ">
        <div class="logo        bi bi-arrows-angle-expand" (click)="changeExpand()"></div>          <!-- apertura -->
        <div class="subcont" *ngIf="expand">
            <div class="logo    bi bi-card-checklist"       (click)="changeCard(0)" (click)="changeDisplay(3)" ><div class="cover" (click)="changeCardM(0)"></div></div>
            <div class="logo    bi bi-card-text"            (click)="changeCard(1)" (click)="changeDisplay(3)" ><div class="cover" (click)="changeCardM(1)"></div></div>
            <div class="logo    bi bi-journal-arrow-down"   (click)="changeCard(2)" (click)="changeDisplay(3)" ><div class="cover" (click)="changeCardM(2)"></div></div>
            <div class="logo    bi bi-music-note-list"      (click)="changeCard(3)" (click)="changeDisplay(3)" ><div class="cover" (click)="changeCardM(3)"></div></div>
        </div>
    </div>
</div>

