.container2{
    /* background-color: pink; */
    position: relative;
    top: 0;
    left: 0;
    display: grid;
    gap: 1rem;
    width: 100%;
    height: 100%;
    margin-top: 1rem;
    /* grid-template-columns: minmax(10rem,13rem) minmax(20rem,23rem); */
    grid-template-columns: 1fr 2fr;
}
.display1{
    grid-template-areas:    'one  two'
                            'three four';
}
.display2{
    grid-template-areas:    'one two'
                            'one four';
}
.chart{
    background-color: rgba(42, 75, 93, 0.435);
    position: relative;
    border: 2px solid black;
}
.c-one{
    grid-area: one;
}
.c-two{
    grid-area: two;
}
.c-three{
    grid-area: three;

}
.c-four{
    grid-area: four;
}
.clock{
    background-color: var(--primary);
    position: absolute;
    width: 10rem;
    height: 10rem;
    opacity: .5;
    right: 1rem;
    bottom: 1rem;
}

.control{
    background-color: aqua;
    border-radius: .4rem;
    padding: 0 .5rem 0 .5rem;
    position: absolute;
    display: inline-flex;
    width: min-content;
    height: 1.5rem;
    top: -2rem;
    left: 1rem;
    align-items: center;
}
.subcont{
    /* background-color: blue; */
    background: linear-gradient(var (--primary), var (--third));
    display: inline-flex;
    /* justify-content: space-between; */
    animation: expand .5s;
}
.logo{
    position: relative;
    width: 1.1rem;
    /* font-size: 16px; */
    margin: 0 .3rem 0 .3rem ;
    color: white;
    filter: drop-shadow(0 0rem .1rem rgb(0, 0, 0));
    /* background-color: azure; */
}
/* .pruebas{
    background-color: rgb(125, 0, 241);
    position: absolute;
    display: flex;
    width: 98%;
    height: 80vh;
} */


@media (max-width:450px){
    .container2{
        display: flex;
    }
    /* .container2{
        display:flex
    } */
    .chart{
        /* display: block; */
        width:100%;
        height: 80vh;
        /* height: 100%; */
    }
    .displayNone{
        display: none;
    }
    .control{
        left: 15%;
    }
}


@keyframes expand{
    0%{
        opacity: 0;
        transform: scaleX(.1);
    }
    to{
        opacity: 1;
        transform: scaleX(1);

    }
}