
<div class="container2 display1"><!-- acá debería ser por binding el display -->
    <div class="chart c-one     {{display[0]}}">
        <app-list-items></app-list-items>
    </div>
    <div class="chart c-two     {{display[1]}}">
        <app-notes></app-notes>
    </div>
    <div class="chart c-three   {{display[2]}}"></div>
    <div class="chart c-four    {{display[3]}}"></div>
    <!-- <app-clock class="clock     "></app-clock> -->
    <div class="control ">
        <div class="logo        bi bi-arrows-angle-expand" (click)="changeExpand()"></div><!-- apertura -->
        <div class="subcont" *ngIf="expand">
            <div class="logo    bi bi-card-checklist"       (click)="changeCard(0)"></div>
            <div class="logo    bi bi-card-text"            (click)="changeCard(1)"></div>
            <div class="logo    bi bi-journal-arrow-down"   (click)="changeCard(2)"></div>
            <div class="logo    bi bi-music-note-list"      (click)="changeCard(3)"></div>
        </div>
    </div>
</div>

