<div class="container231">
    <!-- Hace falta agregar efecto fade como principio del bloque -->
    <div class="head"><p></p></div>
    <div class="items">
        <!-- agregar inputs binding-->
        <div class="task" *ngFor="let task of ((user$|async)!.headlines[sharingSv.headlineIndex].tasks), let i = index">
            <textarea [(ngModel)]="task.title" class="input format" (blur)="updateUser()"></textarea>
            <span class="trace" ></span>
        </div>

        <div class="addItem">
            <span class="line"> </span>
            <!-- <span class="cover" (click)="addItem()"></span> -->
            <div class="cover" (click)="addTask()"></div>
        </div>
    </div>
    <!-- Para agregar efecto fade al final del bloque -->
    <span class="fade"></span>
    <!-- <p (click)="test1()">localStorage</p> -->
</div>