/* estructurar container y head */

.container231 {
    /* background-color: red; */
    position: relative;
    /* display: flex; */
    width: 100%;
    height: 100%;
    top: 0;
}

.headline {
    display: flexbox;
    position: absolute;
    left: 5%;
    width: 90%;
    height: 3rem;
    align-content:baseline;
    margin-top: 7px;

    color: var(--prm1);
    font-size: 1.3rem;
    font-weight: 600;
    overflow: hidden;
}
.headline input {
    font-size: 1.3rem;
    color: white;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    overflow: hidden;
    position: absolute;
    top: 0;
    outline: none;;

}

.items {
    position: absolute;
    bottom: 2rem;
    overflow-y: auto;
    overflow-x: hidden;
    height: 80%;
}

.items ::-webkit-scrollbar {
    display: none;
}

.task {
    width: 95%;
    height: 1rem;
    position: relative;
    margin: 1rem 0 1rem 0;
    display: flex;
    align-items: center;
    /* background-color: aqua; */
}

.input {
    background-color: var(--sixth);
    position: relative;
    height: 1rem;
    max-width: 80%;
    left: 2.5rem;
    border-radius: 0.5rem;
    
    font-weight: 400;
    font-size: .8rem;
    align-content: center;
    vertical-align: middle;

    border: none;
    resize: none;
    outline: none;
    
    overflow: hidden;
}

.input:focus~.trace {
    width: 1.5rem;
    height: 1.5rem;
    left: 0.4rem;
}


.trace {
    position: absolute;
    border: 0.2rem white solid;
    border-radius: 50%;
    box-shadow: 0 0 0.1rem 0.01rem white, inset 0 0 0.1rem 0.01rem white;
    font-size: 1.3rem;
    font-weight: 700;
    height: 2px;
    width: 2px;
    box-sizing: 2rem;
    left: 1rem;

    transition: 0.3s;
}

.addItem {
    position: absolute;
    bottom: 0.5rem;
    background-color: var(--prm2);
    margin: 0 5% 0 5%;
    height: 1.5rem;
    width: 85%;
    opacity: 0.7;

    border-radius: 0.75rem;
    box-shadow: 0 0 0.2rem 0.1rem var(--fifth);
}

.addItem:hover {
    opacity: 1;
}

.line {
    position: absolute;
    bottom: 0rem;
    margin: 2.5%;
    display: block;
    height: 1px;
    width: 95%;
    border: 1px var(--sixth) solid;
    box-shadow: 0 0 0.1rem 0.01rem var(--sixth),
        inset 0 0 0.1rem 0.01rem var(--sixth);
}

.cover {
    position: relative;
    border-radius: 0.75%;
    width: 100%;
    height: 100%;
}