<div class="container231">
    <!-- Hace falta agregar efecto fade como principio del bloque -->
    <div class="head"><p></p></div>
    <div class="items">
        <!-- agregar inputs binding-->
        
        <app-item *ngFor="let unit of dataSv.items, let i = index" [item]="dataSv.items[i]"></app-item>
        <div class="addItem">
            <span class="line"> </span>
            <!-- <span class="cover" (click)="addItem()"></span> -->
            <div class="cover" (click)="addItem()"></div>
        </div>
    </div>
    <!-- Para agregar efecto fade al final del bloque -->
    <span class="fade"></span>
</div>