<div class="container12" [ngClass]="active1">
        <!-- dejar de último (es para mediaqueries) -->

        <nav class="logo">
                <svg
                        class="svg"
                        width="250mm"
                        height="250mm"
                        viewBox="0 0 250 250"
                        version="1.1"
                        id="svg1"
                        xml:space="preserve"
                        xmlns="http://www.w3.org/2000/svg"
                        xmlns:svg="http://www.w3.org/2000/svg">
                        <defs id="defs1"/>
                        <g
                                id="layer1"
                                style="display:inline">
                                <path
                                        style="display:inline;stroke-width:4.2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:3.8;paint-order:markers stroke fill"
                                        d="m 326.90984,204.1148 -17.23846,8.93077 17.03077,-30.94616 z"
                                        id="path12"
                                        transform="matrix(0.88572343,0,0,0.88572343,-119.10979,10.127898)" />
                                <path
                                        style="display:inline;stroke-width:4.2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:3.8;paint-order:markers stroke fill"
                                        d="m 327.73827,204.1148 17.23846,8.93077 -17.03077,-30.94616 z"
                                        id="path12-4"
                                        transform="matrix(0.88572343,0,0,0.88572343,-119.10979,10.127898)" />
                                <path
                                        style="display:inline;fill:none;stroke-width:13;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:0;paint-order:stroke fill markers"
                                        d="M 67.432757,82.830258 V 21.20652 A 11.471295,11.471295 134.97257 0 1 78.89307,9.7352302 l 31.29656,-0.029963 A 11.449351,11.449351 44.972573 0 1 121.64994,21.154614 V 223.96371 a 12.093921,12.093921 45 0 0 12.09392,12.09392 h 31.29768 a 11.460318,11.460318 135 0 0 11.46032,-11.46032 v -40.04638"
                                        id="path9"
                                        transform="matrix(0.88572343,0,0,0.88572343,14.480216,16.161024)"
                                        />
                                <path
                                        style="display:inline;stroke-width:12.5242;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:0;paint-order:stroke fill markers"
                                        d="m 170.71305,105.68995 -0.119,51.29896 0.04,-25.72378 m 26.13223,0.11313 -51.7544,-0.0515 51.4258,0.13645"
                                        id="path2" />
                                <path
                                        style="display:inline;stroke-width:13.9047;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:0;paint-order:stroke fill markers"
                                        d="m 53.244824,111.89751 40.757581,39.78866 -20.45364,-19.93689 m 21.102271,-19.94124 -41.655234,39.62679 41.458669,-39.30918"
                                        id="path2-0" />
                        </g>
                </svg>
        </nav>
        <div class="section"> Section </div>
        <div class="headlines">
                <ul class="list">
                        <!-- <li (click)="showHeadlines()">Show headlines</li> -->
                        <li *ngFor="let headline of (user$ | async)?.headlines, let i = index" (click)="setHeadlineI(i)" >
                                <p *ngIf="i != sharingSv.headlineIndex" >{{headline.content}}</p>
                                <p *ngIf="i == sharingSv.headlineIndex" class="itemSelected">{{headline.content}}</p>
                        </li>
                        <li class="add" (click)="addHeadline()">Add Headline</li>
                </ul>
        </div>
        <span class="activate" [ngClass]="active2" (click)="activate()"><p>>></p></span>
        
</div>